.menu_setting{

    float: right;
    z-index: 1000;
    display: block;
    margin-top: 70px;
    margin-right: 110px;
    width: 300px;
    height: 430px;
    background-color: #34224f;
    border-radius: 8px;
}
.form_menu{
    padding-top: 5px;

}
.menu_setting li{
    margin-left: 5px;
    margin-right: 5px;
    color: #FFFFFF;
    display: flex;
    width: 290px;
    height: 50px;
    border-radius: 5px;
}
.menu_setting li:hover{
    background-color: #f8f8e3;
    color: #0e0404;
}

.icon{
    margin-left: 10px;
    margin-top: 17px;
    width: 30px;
    height: 20px;
}
.content{
    margin-top: 12px;
    width: auto;
    height: auto;
    margin-left: 5px;
}
.vach{
    background-color: rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    color: rgb(236, 232, 232);
    display: block;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 1px;
    line-height: normal;
    margin-bottom: 10px;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 10px;
    text-rendering: optimizelegibility;
    width: 264px;
    word-break: break-word;
    -webkit-font-smoothing: antialiased
}