.menuLogin{
    width: 300px;
    height: 310px;
    display: block;
    float: right;
    background-color: #34224f;
    margin-right: 60px;
    margin-top: 70px;
    border-radius: 10px;
}
.login{
    width: 280px;
    height: 45px;
    margin-left: 10px;
    margin-top: 10px;
}
.button{
    width: 280px;
    height: 45px;
    font-family: Inter, sans-serif;
    color: #FFFFFF;
    background-color: #9b4de0;
    border-radius: 10px;
}
.menuLogin_content{
    color: #FFFFFF;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-left: 10px;
    text-rendering: optimizelegibility
}
.voucher1{
    background-color: #eedd91;
    border-radius: 10px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    color: #59533e;
}
.voucher2{
    background-color: #af5151;
    border-radius: 10px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    color: #e8dcdc;
}